/* زر */
.btn-RE11 {
  width: 200px; /* عرض الزر الأساسي */
  height: 40px; /* ارتفاع الزر الأساسي */
  border-radius: 20px !important; /* نصف قطر الزاوية الأساسية */
  background-color: #D6C48B 
  !important; /* لون خلفية الزر */
  color: white !important; /* لون النص */
  font-weight: 700; /* وزن الخط */
  font-size: 15px; /* حجم الخط */
  display: flex; /* استخدام flexbox لتوسيط المحتوى */
  justify-content: center; /* توسيط المحتوى أفقيًا */
  align-items: center; /* توسيط المحتوى عموديًا */
  margin: auto; /* مركزية الزر أفقيًا */
  text-align: center; /* توسيط النص */
  border: 1px solid #d3b141; /* لون وإطار الزر */
}

.btn-RE11:hover {
  background-color: #d3b141; /* تغيير لون الخلفية عند التمرير فوق الزر */
}

/* تخصيص مودال */
#FormN .css-1lkf1m-MuiModal-root-MuiDialog-root .MuiPaper-root {
  width: 300px !important;
  height: auto !important;
  margin: auto !important;
  overflow: hidden !important;
}

/* أيقونات الاتصال */
.contact-icons {
  margin-bottom: 10px;
  margin-top: 10px !important;
}

/* نموذج الاتصال */
.wh-form1 {
  background-color: #bfb780e8 !important;
  color: white;
  width: 500px !important;
  border-radius: 70px !important;
  height: auto;
  overflow: hidden;
  display: flex;
  z-index: 10020;
}

.wh-form1 h3 {
  margin: 10px;
}

.wh-form1 form {
  margin: auto;
}

.wh-form1 form input {
  width: 300px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px 20px;
}

.wh-form1 .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: rgb(255, 255, 255) !important;
  width: 300px;
  border-radius: 50px !important;
  background-color: transparent;
  margin: 10px;
  margin-left: 0px !important;
}

.css-v3x4l4-MuiFormControl-root-MuiTextField-root {
  background-color: transparent !important;
  margin-left: 0px !important;
}

.br {
  height: 10px !important;
}

.css-u4tvz2-MuiFormLabel-root {
  color: rgba(255, 255, 255, 0.116) !important;
  margin: 10px !important;
  font-size: 20px !important;
}

.dispaly5 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.wh-form .css-ahj2mt-MuiTypography-root {
  width: 300px !important;
  margin: 5px 10px !important;
}

.css-11zohuh-MuiSvgIcon-root {
  color: #D6C48B;
}

.css-1hbvpl3-MuiSvgIcon-root {
  color: white !important;
  font-size: 20px !important;
  margin: 2.5px;
}

.submit {
  margin: 30px !important;
  width: 260px !important;
  height: 60px !important;
  border-radius: 20px !important;
  background-color: #d3b76d !important;
  color: white !important;
  font-size: 30px !important;
  font-weight: bold !important;
  border: none !important;
  box-shadow: 0px 0px 10px 2px #12151a96 !important;
  margin: auto !important;
}

/* أنماط متجاوبة للشاشات الكبيرة */
@media (min-width: 1200px) {
  .btn-RE11 {
    width: 200px; /* عرض الزر ثابت */
    height: 40px; /* ارتفاع الزر ثابت */
    font-size: 15px; /* حجم الخط ثابت */
  }
}

/* أنماط متجاوبة للشاشات المتوسطة */
@media (max-width: 1199px) and (min-width: 768px) {
  .btn-RE11 {
    width: 180px; /* تقليل العرض */
    height: 35px; /* تقليل الارتفاع */
    font-size: 14px; /* تقليل حجم الخط */
  }
}

/* أنماط متجاوبة للشاشات الصغيرة */
@media (max-width: 767px) {
  .btn-RE11 {
    width: 150px; /* تقليل العرض */
    height: 30px; /* تقليل الارتفاع */
    font-size: 12px; /* تقليل حجم الخط */
    border-radius: 15px; /* تقليل نصف قطر الزاوية */
  }
}

/* أنماط متجاوبة للشاشات الصغيرة جدًا */
@media (max-width: 480px) {
  .btn-RE11 {
    width: 120px; /* تقليل العرض */
    height: 25px; /* تقليل الارتفاع */
    font-size: 10px; /* تقليل حجم الخط */
    border-radius: 10px; /* تقليل نصف قطر الزاوية */
    background-color: #D6C48B; /* لون خلفية الزر */
  }
}

/* تخصيص نموذج الاتصال للشاشات الصغيرة */
@media screen and (max-width: 520px) {
  #FormN .css-1lkf1m-MuiModal-root-MuiDialog-root .MuiPaper-root {
    background-color: #97606000 !important;
    width: 300px !important;
    height: auto !important;
    margin: auto !important;
    overflow: hidden !important;
  }

  .wh-form1 {
    background-color: #bfb780af;
    color: white;
    width: 300px !important;
    border-radius: 70px !important;
    border: none !important;
    height: 380px !important;
    overflow: hidden !important;
  }

  .wh-form1 h3 {
    margin: 10px;
  }

  .wh-form1 form {
    margin: auto;
  }

  .wh-form1 form input {
    width: 200px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: none;
    outline: auto !important;
    border-radius: 50px;
    border: none !important;
    padding: 10px 20px;
  }

  .wh-form1 .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
    border: none !important;
    background-color: white !important;
    width: 200px;
    border-radius: 50px !important;
    background-color: transparent;
    margin: 10px;
    margin-left: 0px !important;
  }

  .css-v3x4l4-MuiFormControl-root-MuiTextField-root {
    background-color: transparent !important;
    margin-left: 0px !important;
    border: none !important;
  }

  .br {
    height: 10px !important;
  }

  .css-u4tvz2-MuiFormLabel-root {
    color: white !important;
    margin: 10px !important;
    font-size: 20px !important;
    border: none !important;
  }

  .dispaly5 {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }

  .wh-form .css-ahj2mt-MuiTypography-root {
    width: 200px !important;
    margin: 5px 10px !important;
    border: none !important;
  }

  .css-11zohuh-MuiSvgIcon-root {
    color: #D6C48B;
  }

  .css-1hbvpl3-MuiSvgIcon-root {
    color: white !important;
    font-size: 20px !important;
    margin: 2.5px;
  }

  .wh-form1.submit {
    margin: 20px !important;
    width: 200px !important;
    height: 50px !important;
    border-radius: 20px !important;
    background-color: #d3b76d !important;
    color: white !important;
    font-size: 30px !important;
    font-weight: bold !important;
    border: none !important;
    box-shadow: 0px 0px 10px 2px #12151a96 !important;
    margin: 15px auto !important;
  }
}
