/* CSS الأساسي لشريط التنقل */
.custom-navbar-brand {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-top: 15px;
  margin-left: 10px;
}

.number{
  color: #e2bc10 !important;
}

.custom-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-between;
  background-color: transparent;
  color: #ffffff00;
  padding-top: 10px;
  z-index: 99; /* تأكد من أنه فوق العناصر الأخرى */
  transition: background-color 0.3s ease; /* انتقال ناعم لتغيير اللون الخلفي */
}
.custom-navbar-brand a {
  text-decoration: none;
  flex-wrap: wrap;
}

.custom-navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  flex-wrap: wrap;
}

.custom-bar {
  height: 3px;
  width: 25px;
  background-color: #fffb00;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.custom-navbar-menu {
  display: flex;
  list-style: none;
  align-items: center !important;
  margin: 0;
  max-height: 0; /* يتم تحديده في الوضع الافتراضي للإخفاء */
}

.custom-navbar-item {
  margin-left: 4px;
  position: relative;
}

.custom-navbar-link {
  color: #fff1f1;
  text-decoration: none;
  font-size: 17px;
  padding: 6px;
  cursor: pointer;
}
.custom-navbar-link::after {
  content: ""; /* Insert an empty content */
  position: absolute; /* Ensure the parent has a relative position */
  bottom: 0px;
  left: 0px;
  width: 0%; /* Width of the pseudo-element */
  height: 3px; /* Correct height unit */
  background-color: #ffe600; /* Background color */
  /* Additional styling might be needed for positioning */
  transition: .5s;
}

.custom-navbar-link:hover::after {
  width: 100%;
  color: #e2bc10;
}
.custom-navbar-link:hover {
  color: #e2bc10;
  
}

.custom-dropdown-menu {
  display: none;
  margin:10px ;
  position: absolute;
  left: -50% ;
  background-color: #cfb87a;
  list-style: none;
  padding: 12px 0;
  z-index:9699999999999999 !important;
  border-radius: 40px;
height: 50vh;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}



/* .custom-dropdown-menu */
/* BUY */
.imgnp{
  margin: 10px;
  background-image: url("/public/uploads/nav/photo14.png");
  width: 95%;
  height: 100px;
  border-radius:30px ;
  padding: 10px;
}
.Buys .custom-dropdown-menu{
  display: none;
  width:80vw;
  margin:10px ;
  position: absolute;
  left: -50% !important;
  background-color: #cfb87a;
  list-style: none;
  padding: 18px 24px;
  z-index:9699999999999999 !important;
  border-radius: 23px;
height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}




.dis-paly{
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: start;
}
.dis-paly li{
list-style: disc;  padding: 5px;

  
}
.dis-imgNbuy{
  display: flex;
  font-size: 20px;
 
  justify-content: start;



}
.dis-imgNbuy li{
  padding: 5px;
margin: 5px;
list-style: none;
}



/* BUY */
/* RENT */


.RENT .custom-dropdown-menu{
  display: none;
  width:80vw;
  margin:10px ;
  position: absolute;
  left: -120% !important;
  background-color: #cfb87a;
  list-style: none;
  padding: 18px 24px;
  z-index:9699999999999999 !important;
  border-radius: 23px;
height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}




.dis-paly2{
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: space-around;
}
.dis-paly2 li{
list-style: disc;  padding: 5px;

  
}
.dis-imgNbuy2{
  font-size: 20px;
 
  justify-content: start;



}
.dis-imgNbuy2 li{
  padding: 5px;
margin: 5px;
list-style: none;
}
.custom-dropdown-item {
  width: 100%;
    color: white;
  text-decoration: none;
  display: block;
}

.RENT .custom-dropdown-item {
    color: white;
  text-decoration: none;
  display: block;
}
/* RENT */
/* Commercial */


.Commercial .custom-dropdown-menu{
  display: none;
  width:80vw;
  margin:10px ;
  position: absolute;
  left: -130% !important;
  background-color: #cfb87a;
  list-style: none;
  padding: 18px 24px;
  z-index:9699999999999999 !important;
  border-radius: 23px;
height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}




.Commercial .dis-paly2{
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: start;
}
.dis-paly2 li{
list-style: disc;  padding: 5px;

  
}

.dis-imgNbuy2 li{
 
list-style: none;
}
.custom-dropdown-item {
    color: white;
  text-decoration: none;
  display: block;
}
.imgNCommercial{
  margin: 15px;
}


/* Commercial */
/* DEVELOPERS */


.DEVELOPERS .custom-dropdown-menu{
  display: none;
  width:80vw;
  margin:10px ;
  position: absolute;
  left: -260% !important;
  background-color: #cfb87a;
  list-style: none;
  padding: 18px 24px;
  z-index:9699999999999999 !important;
  border-radius: 23px;
height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}




.DEVELOPERS .dis-paly2{
  display: flex;
  font-size: 20px;
  margin: 10px;
  align-items: center;
  justify-content: start;
}
.dis-paly2 li{
list-style: none;
  padding: 5px;
  margin: 10px;


  
}


.custom-dropdown-item {
    color: white;
  text-decoration: none;
  display: block;
}
.imgNCommercial{
  margin: 15px;
}




/* DEVELOPERS */
/* AREAS */

.AREAS .custom-dropdown-menu{
  display: none;
  width:80vw;
  margin:10px ;
  position: absolute;
  left: -25vw !important;
  background-color: #cfb87a;
  list-style: none;
  padding: 18px 24px;
  z-index:9699999999999999 !important;
  border-radius: 23px;
height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}




.AREAS .dis-paly{
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}
.dis-paly li{
list-style: none;  padding: 5px;

  
}
.AREAS .dis-imgNbuy{
  display: flex;
  font-size: 20px;
 
  justify-content: space-between;



}
.AREAS .dis-imgNbuy li{
  padding: 5px;
margin: 5px;
list-style: none;
}


/* AREAS */
/* CONTACT */




.CONTACT .custom-dropdown-menu{
  display: none;
  width:80vw;
  margin:10px ;
  position: absolute;
  left: -45vw !important;
  background-color: #cfb87a;
  list-style: none;
  padding: 18px 24px;
  z-index:9699999999999999 !important;
  border-radius: 23px;
height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}


.CONTACT .custom-dropdown-menu .imgcon img{
width: 80%;
}

.CONTACT .dis-paly2{
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}
.dis-paly li{
list-style: none;  padding: 5px;

  
}
.CONTACT .imgNCommercial{
  display: flex;
  font-size: 20px;
 
  justify-content: center !important;



}
.AREAS .dis-imgNbuy li{
  padding: 5px;
margin: 5px;
list-style: none;
}



/* CONTACT */



  

/* .custom-dropdown-menu */

.custom-dropdown-item:hover {
  color: #fff;
  opacity: 1 !important;
}

.custom-dropdown-toggle::after {
  content: '\25BC';
  margin-left: 5px;
  color: #180202;
  font-size: 0.8rem;
}

.custom-dropdown-menu.show {
display: flex;
  opacity: 1; /* جعل القائمة مرئية */
  transform: translateY(0); /* إعادة القائمة لمكانها الطبيعي */
}

.custom-mr {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 0px;
}

/* التنسيق المتجاوب لشاشات أصغر */
@media (max-width: 1560px) {
  .custom-navbar-link{
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .custom-navbar-link{
    font-size: 20px;
  }
  .custom-navbar-menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 34, 51);
    height: auto;
    position: absolute;
    top: 100%; /* توسيط القائمة تحت شريط التنقل */
    left: 0;
    margin: auto;
    overflow-Y: scroll !important;
    z-index: 100;
  }

  .custom-navbar-toggle {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: #123;
    transition: all 0.3s ease;
  }

  .custom-navbar-toggle:hover {
    transform: scale(1.1); /* تكبير العنصر قليلاً عند المرور */
  }

  .custom-navbar-item {
    margin: 5px 0;
    width: 100%;
    color: white !important;
  }

  .custom-dropdown-menu {
    position: static;
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .custom-dropdown-menu.show {
    display: block;
    opacity: 1;
  }

  .custom-navbar-link {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
  }
  .custom-navbar-menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    transition: max-height 0.3s ease-in-out; /* لإضافة الأنيميشن */
    overflow: hidden;
    max-height: 0; /* يتم تحديده في الوضع الافتراضي للإخفاء */
  }
  .custom-navbar-toggle {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: #123;
    transition: all 0.3s ease; /* إضافة انتقال سلس لتأثيرات التغيير */
  }

  .custom-navbar-toggle:hover {
    transform: scale(1.1); /* تكبير العنصر قليلاً عند المرور */
  }

  .custom-navbar-menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 34, 51);
    height: auto;
    position: absolute;
    top: 20%;
    left: 0%;
    margin: auto;
    overflow-Y: scroll !important;
    z-index: 100;
  }

  .custom-navbar-menu.active {
    max-height: 95%; /* يتم تحديد الحد الأقصى للطول عند الفتح */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .custom-navbar-item {
    margin: 5px 0;
    width: 100%;
    color: white !important;
  }

  .custom-dropdown-menu {
    position: static;
    min-width: 100%;
    opacity: 0;
    transition: opacity 10s ease, background-color 5s; /* إضافة أنيميشن */
  }
  .custom-dropdown-menu.show {
    display: block;
    opacity: 1;
  }

  .custom-dropdown-item {
    padding: 12px 20px;
    text-align: center;
    color: white;
    transition: display 10.5s;
  }

  .custom-navbar-link {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
  }
  .custom-en-ar{
    flex:content;
    position: relative;
  }
}


/* Navbar.css */

/* NavbarCustom.css */

/* قائمة تحديد اللغة */
.language-selector-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 23px;
}

.language-selector-item {
  position: relative;
  cursor: pointer;

}
.selected-language{
  position: relative;
  left: 23px;
  font-size: 12px;
}
/* تنسيق عنوان اللغة المحددة */
.language-selector-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  width: 100px;
  height: 22px;
  border-radius: 20px;
  background-color: #bfb78f;
  background-image: url("/public/uploads/img/em.png");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 50% 100%;
  cursor: pointer;
  margin: 2px;
  position: relative;
  left: 10px;
}

/* القائمة المنسدلة للغات */
.language-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ccad00;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  top: 100%;
  left: 2px;
  width: 150px;
  z-index: 1000;

  color: white;
}

.language-dropdown-menu.show {
  display: block;

}

/* تنسيق لكل خيار لغة */
.language-option {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;

}

.language-option:hover {
  background-color: #123;
  color: #ffffff;
  border-radius: 5px;
}

/* تنسيق لعلم اللغة */
.language-flag {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;

}
