/* CSS الأساسي لشريط التنقل */
.custom-navbar-brand {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-top: 15px;
  margin-left: 10px;
}
.dis-n{
  display: none;
}
.number {
  color: #e2bc10 !important;
}
.logo-nav {
  width: 200px;
}
/* لbutton */

/* عند المرور على العنصر، تفتح القائمة */
.custom-navbar-item .custom-dropdown-menu:hover {
  display: none;
}

.custom-dropdown-menu {
  display: block;
}
.bt-back {
  display: none !important;
  visibility: hidden !important;
}

/* لbutton */
.custom-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-between;
  background-color: transparent;
  color: #ffffff00;
  padding-top: 10px;
  z-index: 99; /* تأكد من أنه فوق العناصر الأخرى */
  transition: background-color 0.3s ease; /* انتقال ناعم لتغيير اللون الخلفي */
}
.custom-navbar-brand a {
  text-decoration: none;
  flex-wrap: wrap;
}

.custom-navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  flex-wrap: wrap;
  z-index: 90000;
}

.custom-bar {
  height: 3px;
  width: 25px;
  background-color: #fffb00;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.custom-navbar-menu {
  display: flex;
  list-style: none;
  align-items: center !important;
  margin: 0;
  max-height: 0; /* يتم تحديده في الوضع الافتراضي للإخفاء */
}

.custom-navbar-item {
  margin-left: 4px;
  position: relative;
}

.custom-navbar-link {
  color: #fff1f1;
  text-decoration: none;
  font-size: 17px;
  padding: 6px;
  cursor: pointer;
}
.custom-navbar-link::after {
  content: ""; /* Insert an empty content */
  position: absolute; /* Ensure the parent has a relative position */
  bottom: 0px;
  left: 0px;
  width: 0%; /* Width of the pseudo-element */
  height: 3px; /* Correct height unit */
  background-color: #ffe600; /* Background color */
  /* Additional styling might be needed for positioning */
  transition: 0.5s;
}

.custom-navbar-link:hover::after {
  width: 100%;
  color: #e2bc10;
}
.custom-navbar-link:hover {
  color: #e2bc10;
}

.disi {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
/* .custom-dropdown-menu */

/* BUY */

.dis-buy {
  display: flex;
}
.imgnp {
  margin: 10px;
  background-image: url("/public/uploads/nav/e3lan.png");
  width: 99%;
  height: 100px;
  border-radius: 30px;
  padding: 20px;
  background-size: cover;
}
.Buys .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -50%;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}
.Buys h3 {
  font-weight: bold;
  margin-top: 5px;
  font-size: 1.9rem;
}
.dis-paly {
  display: flex;
  font-size: 22px;
  padding: 10px;
  margin: 5px;
  align-items: start;
  font-family: "Courier New", Courier, monospace !important;
  justify-content: start;
  margin-left: -38px !important;
}

.dis-paly li {
  list-style: none;
  padding: 5px;
  font-weight: 500 !important;
  font-size: 20px;
  margin: 12px 47px 0px 0px;
}
.dis-paly h4 {
  list-style: disc;
  padding: 5px;
  font-weight: 550;
}
.dis-imgNbuy {
  display: flex;
  font-size: 25px;
  align-items: center;

  justify-content: start;
}
.Buys .dis-imgNbuy li {
  padding: 5px;
  margin: 1px;
  font-weight: 500 !important;
  list-style: none;
}
.imgnp .h3,
.imgnp .h4 {
  width: 100%;
  overflow: hidden; /* Ensures the text is clipped */
  border-right: 2px solid rgba(0, 0, 0, 0.75); /* Creates a cursor effect */
  white-space: nowrap; /* Ensures the text stays on one line */
  width: 0; /* Start with zero width */
  margin-bottom: 10px;
  animation: typewriter 4s steps(30, end) infinite,
    blinkCursor 0.75s step-end infinite;
}
.imgnp .h4 {
  font-weight: lighter;
}
/* BUY */
/* RENT */

.RENT .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -200% !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.RENT .dis-paly2 {
  display: flex !important;
  font-size: 20px;
  padding: 10px;
  align-items: start;
  justify-content: space-around;
  width: 100%;
}
.RENT .dis-paly2 h3 {
  font-weight: bold;
  font-size: 2rem;
}

.RENT .dis-paly3 {
  display: flex !important;
  width: 100%;
  align-items: start;
  position: relative;
  left: -26px;
  width: 100%;

  justify-content: space-around;
  text-align: start;
}
.dis-paly3 h4 {
  margin: 10px 3px;
  align-items: start;
  width: 100%;
  font-weight: 550;
}
.RENT .dis-paly3 li {
  text-align: start;
  list-style: none;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  font-weight: 500;
}

.dis-imgNbuy2 li {
  padding: 5px;
  margin: 5px;
  list-style: none;
  width: 100%;
}
.RENT .dis-imgNbuy {
  display: flex;
  align-items: end;
  justify-content: end;
}
.custom-dropdown-item {
  width: 100%;
  color: white;
  text-decoration: none;
  display: block;
}

.RENT .custom-dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
}
/* RENT */
/* Commercial */
.Commercial .dis-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dis-buy2{
  display: flex;
}
.Commercial .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -130% !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 30px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.Commercial .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  font-size: 20px;
}
.Commercial .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}

.Commercial ul li {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
}

.Commercial .dis-paly2 {
  display: flex;
  font-size: 20px;
  padding: 10px;
  align-items: start;
  font-weight: bolder;

  justify-content: start;
}
.Commercial ul h4 {
  font-size: 24px;
  width: 100%;
  font-weight: 550 !important;
}
.Commercial .dis-paly2 li {
  list-style: disc;
  padding: 5px;
  font-weight: normal;
}
.Commercial .dis-imgNbuy2 li {
  font-weight: normal;
  list-style: none;
}
.custom-dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
}
.Commercial .imgNCommercial img {
  width: 300px;
  margin: 20px;
}
.Commercial ul li {
  padding: 10px;
  font-weight: normal;
}
.Commercial h3 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
}
.Commercial .imgnp {
  margin: 10px;
  width: 99%;
  height: 100px;
  border-radius: 30px;
  padding: 9px;
  background-size: cover;
}
.Commercial .disi h4 {
  font-weight: lighter !important;
}
/* Commercial */
/* developers */

.developers .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin: 15px 0px;
  padding: 0px;
  font-size: 20px;
}
.developers .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}
.developers .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -260% !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 30px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.developers .dis-paly2 {
  display: flex;
  font-size: 20px;
  width: 75%;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
}
.developers .dis-paly2 li {
  list-style: none;
  padding: 5px;
  font-weight: 500;
  margin: 10px auto;
}
.developers h3 {
  font-size: 2.5rem;
  margin-left: 30px;
  font-weight: bold;
}
.developers .dis-buy h4 {
  margin-left: 40px;
  font-size: 2rem;
  font-weight: 550;
}

.developers .dis-paly2 .aldar img {
  width: 130px;
}
.developers .imgnp {
  padding: 9px;
}
.developers .imgnp h3 {
  margin-left: 0px;
}
.custom-dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
}
.developers .imgNCommercial img {
  display: flex !important;
  justify-content: end !important;
  width: 100%;
}
.developers .imgNCommercial {
  width: 100%;
  display: flex;
  justify-content: end !important;
}
.developers .dis-paly2 {
  font-size: 1.5rem;
}
/* developers */
/* AREAS */

.AREAS .custom-dropdown-menu {
  display: none;
  width: 70vw;
  margin: 10px;
  position: absolute;
  left: -30vw;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.AREAS .dis-paly {
  display: flex;
  font-size: 20px;
  margin: 0px;
  align-items: center !important;
  justify-content: center;
}
.dis-paly li {
  list-style: none;
  font-weight: 500;
}
.AREAS .dis-imgNbuy {
  font-weight: 500;
  display: flex;
  font-size: 20px;
  align-items: start;
  justify-content: start;
}
.AREAS .dis-imgNbuy li {
  padding: 5px;
  margin: 5px;

  list-style: none;
}

.AREAS .imgNbuy img {
  width: 100%;
}

/* AREAS */
/* Blogs */

.Blogs .imgnp {
  margin: 10px;
  background-image: url("/public/uploads/nav/e3lan.png");
  width: 99%;
  height: auto;
  border-radius: 30px;
  padding: 20px;
  padding-top: 10px;
  background-size: cover;
  text-align: unset;
}
/* Animation for typewriter effect */
@keyframes typewriter {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0);
  }
  to {
    border-right-color: transparent;
  }
}

/* Apply the animations */

.Blogs .custom-dropdown-menu {
  display: none;
  width: 72vw;
  margin: 10px;
  position: absolute;
  left: -29vw !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 34px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;

  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
  z-index: 9699999999999956489489486999 !important;
}
.dis-play3 .dis-paly1 div img {
  width: 100px;
  height: 100%;
}

.Blogs .dis-paly {
  display: flex;
  font-size: 17px;
  align-items: start;
  justify-content: start;
  width: 100%;
}
.Blogs .dis-paly1 {
  display: flex;
  padding: 0px;
  margin: 5px;
  align-items: center;
  justify-content: start;
}
.Blogs .dis-paly li {
  list-style: disc;
  padding: 5px;
}
.Blogs .imgNbuy {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
}
.Blogs .imgNbuy .imgNbuy1 {
  display: flex;
  justify-content: end;
}
.Blogs .imgNbuy .imgNbuy2 {
  display: flex;
  justify-content: end;
}
.Blogs .imgNbuy .imgNbuy1 img {
  width: 90%;
  height: 250px;
}
.Blogs .imgNbuy .imgNbuy2 img {
  width: 90%;
}

.titledis h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.Blogs .dis-imgNbuy {
  display: flex;
  justify-content: end !important;
  flex-direction: column;
}
.Blogs .dis-paly1 .titel {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-left: 5px;
}
.Blogs .dis-paly1 .img img {
  width: 70px;
}
.Blogs .dis-paly1 .titel h5 {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.Blogs .dis-paly1 .titel p {
  font-size: 10px !important;
  width: 100%;
}

.Blogs .dis-buy .titledis {
  flex-direction: column;
  display: flex;
 
  font-size: 18px;
  width: 65%;
  flex-wrap: wrap;
}
.Blogs .dis-paly3 .p9 {
  font-size: 18px;
  font-weight: 500;
}
.Blogs .dis-buy .p2 {
  font-size:15px;
}
/* Blogs */
/* About */

.About .custom-dropdown-menu {
  display: none;
  width: 80vw;
}
.ABOUT .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin: 15px 0px;
  padding: 0px;
  font-size: 20px;
}
.ABOUT .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}
.ABOUT .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -45vw !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 18px;
  padding: 18px 24px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.About .custom-dropdown-menu .imgcon img {
  width: 100%;
}

.About .dis-paly2 {
  display: flex;
  font-size: 20px;
  margin: 5px;
  align-items: start;
  justify-content: space-between;
}

.ABOUT .dis-paly {
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  position: relative;
}
.dis-paly li {
  list-style: none;
  padding: 5px;
}

.About .imgNCommercial {
  display: flex;
  font-size: 20px;

  justify-content: start;
}
.About .dis-imgNbuy li {
  padding: 5px;
  margin: 5px;
  list-style: none;
}
.About .css-mhc70k-MuiGrid-root {
  align-items: start;
}

.ABOUT .imgNCommercial {
  display: flex;
  justify-content: center !important;
}
.ABOUT p {
  width: 100%;
}
.ABOUT .custom-dropdown-item {
  padding: 25px;
  list-style: none;
}
.ABOUT .dis-paly2 {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: start;
}
.ABOUT .dis-paly2 li {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 27px;
  font-weight: bolder;
  align-items: start !important;
  justify-content: center;
}
.ABOUT .dis-paly2 .aldar img {
  width: 200px;
}
.dis-paly2 .aldar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dis-paly2 .aldar h6 {
  font-size: 18px;
}
/* ABOUT */
/* APPLY */
.APPLY .dis-buy{
  justify-content: space-evenly;
  align-items: center;
}

.APPLY .css-mhc70k-MuiGrid-root {
  margin-top: 30px !important;
}
.APPLY .custom-dropdown-menu {
  display: none;
  width: 80vw !important;
  margin: 10px;
  position: absolute;
  left: -55vw !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}
.APPLY .css-isbt42 {
  margin-top: 47px;
  margin-left: 27px;
}

.APPLY .custom-dropdown-menu .imgcon {
  width: 100%;
}
.APPLY .custom-dropdown-menu .imgcon h2 {
  font-size: 65px;
}
.APPLY .dis-paly2 {
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}
.APPLY .dis-paly li {
  list-style: none !important;
  padding: 5px;
}
.APPLY .imgNCommercial  {
  display: flex !important;
  width: 100%;
  font-size: 20px;
  align-items: center !important;
  justify-content: center !important;
}

.APPLY .dis-paly2 li {
  font-size: 24px;
  font-weight: normal;
  list-style: none !important;
  padding: 5px;

}
/* APPLY */

/* .custom-dropdown-menu */

.custom-dropdown-item:hover {
  color: #fff;
  opacity: 1 !important;
}

.custom-dropdown-toggle::after {
  content: "\25BC";
  margin-left: 5px;
  color: #180202;
  font-size: 0.8rem;
}

.custom-dropdown-menu.show {
  display: flex;
  opacity: 1; /* جعل القائمة مرئية */
  transform: translateY(0); /* إعادة القائمة لمكانها الطبيعي */
}

.custom-mr {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 0px;
}
.custom-navbar-link {
  font-size: 19px;
}
.language-selector-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 23px;
}

.language-selector-item {
  position: relative;
  cursor: pointer;
}
.selected-language {
  position: relative;
  left: 23px;
  font-size: 12px;
}
/* تنسيق عنوان اللغة المحددة */
.language-selector-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  width: 100px;
  height: 22px;
  border-radius: 20px;
  background-color: #bfb78f;
  background-image: url("/public/uploads/img/em.png");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 50% 100%;
  cursor: pointer;
  margin: 2px;
  position: relative;
  left: 10px;
}

/* القائمة المنسدلة للغات */
.language-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ccad00;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  top: 100%;
  left: 2px;
  width: 150px;
  z-index: 1000;

  color: white;
}

.language-dropdown-menu.show {
  display: block;
}

/* تنسيق لكل خيار لغة */
.language-option {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}

.language-option:hover {
  background-color: #123;
  color: #ffffff;
  border-radius: 5px;
}

/* تنسيق لعلم اللغة */
.language-flag {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

/* التنسيق المتجاوب لشاشات أصغر */
@media (max-width: 1560px) {
  .custom-navbar-link {
    font-size: 17px;
  }

  .Buys h3 {
    position: relative;
    top: 0;
    font-size: 25px;
  }
  .dis-paly {
    display: flex;
    font-size: 22px;
    padding: 0px;
    margin: 5px;
    align-items: start;
    font-family: "Courier New", Courier, monospace !important;
    justify-content: start;
  }
  .dis-paly li {
    list-style: none;
    padding: 5px;
    font-weight: lighter !important;
    font-size: 20px;
  }
  .dis-paly h4 {
    list-style: disc;
    padding: 5px;
    font-weight: 500;
  }
  .dis-imgNbuy {
    display: flex;
    font-size: 25px;
    align-items: center;

    justify-content: start;
  }
  .dis-imgNbuy li {
    padding: 5px;
    margin: 5px;
    font-weight: lighter !important;
    list-style: none;
  }

  /* BUY */
}
@media (max-width: 1440px) {
  .logo-nav {
    width: 150px;
  }
  .custom-navbar {
    width: 84%;
  }
  .custom-navbar-link {
    font-size: 14px;
  }
  .Buys .disi h3 {
    position: relative;
    top: 0;
    font-size: 18px;
  }
  .Buys .disi h4 {
    position: relative;
    top: 0;
    font-size: 18px;
  }

  .Buys h3 {
    position: relative;
    top: 0;
    font-size: 23px;
  }
  .RENT .dis-paly3 li {
    text-align: start;
    list-style: none;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    font-weight: lighter;
  }

  .AREAS .dis-buy1 h3 {
    font-size: 1.5rem;
  }
  .AREAS .dis-paly ul li {
    font-size: 1rem;
  }
  .Blogs .custom-dropdown-menu {
    left: -29vw !important;
  }
  .Blogs .dis-paly3 .p9 {
    font-size: 18px;
    font-weight: 500;
  }

  .Blogs .dis-buy .p2 {
    font-size: 0.8rem;
  }

  .imgnp .h3 {
    font-size: 20px;
  }
  .imgnp .h4 {
    font-size: 18px;
  }

  .APPLY .custom-dropdown-menu .imgcon h2 {
    font-size: 55px;
}
.APPLY .custom-dropdown-menu .imgcon h3 {
  font-size: 1.45rem;
}
.APPLY .dis-paly2 li {
  font-size: 20px;
  font-weight: normal;
  list-style: none !important;
  padding: 5px;
}
}
@media (max-width: 1400px) {
  .AREAS .dis-buy1 h3 {
    font-size: 1.2rem;
  }
  .AREAS .dis-paly ul li {
    font-size: 1rem;
  }
  .AREAS .dis-imgNbuy ul h3 {
    font-size: 1.2rem;
  }
  .AREAS .dis-imgNbuy ul li {
    font-size: 1rem;
  }
}
@media (max-width: 1280px) {
  .RENT .dis-paly2 h3 {
    font-size: 20px;
  }
  .Commercial ul li {
    list-style: none;
    font-weight: 500;
    font-size: 15px !important;
  }
  .dis-paly3 h4 {
    margin: 10px;
    align-items: start;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
  }
  .imgnp h3,
  .imgnp h4 {
    width: 97%;
    overflow: hidden;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    width: 4px;
    font-size: 17px;
    animation: typewriter 4s steps(30, end) infinite,
      blinkCursor 0.75s step-end infinite;
  }
  .RENT .dis-paly3 li {
    text-align: start;
    list-style: none;
    padding: 5px;
    font-size: 15px;
    width: 100%;
    font-weight: lighter;
  }
  .Commercial ul h4 {
    font-size: 18px;
    width: 100%;
    font-weight: 550 !important;
  }
  .AREAS .dis-buy1 h3 {
    font-size: 1.1rem;
  }
  .AREAS .dis-paly ul li {
    font-size: 0.7rem;
  }
  .AREAS .dis-imgNbuy ul h3 {
    font-size: 1.2rem;
  }
  .AREAS .dis-imgNbuy ul li {
    font-size: 1rem;
  }
  .AREAS .imgNbuy img {
    width: 300px;
  }
  .AREAS .imgnp .h3 {
    font-size: 20px;
  }
  .AREAS .imgnp .h4 {
    font-size: 18px;
  }
  .AREAS .imgnp .h4 {
    font-size: 14px;
}
.AREAS .imgnp .h3 {
  font-size: 18px;
}
  .AREAS .imgnp {
    background-repeat: no-repeat;
    background-size: cover;
    height: 78px;
  }
  .Blogs .dis-buy .p2 {
    font-size: 0.7rem;
  }

  .APPLY .custom-dropdown-menu .imgcon h2 {
    font-size: 40px;
}
.APPLY .custom-dropdown-menu .imgcon h3 {
  font-size: 1rem;
}
.APPLY .dis-paly2 li {
  font-size: 20px;
  font-weight: normal;
  list-style: none !important;
  padding: 5px;
}
.Blogs .dis-paly3 .p9 {
  font-size: 13px !important;
  font-weight: 550;
}
.logo-nav {
  width: 120px;
}
.custom-navbar {
  width: 100%;
}
.custom-navbar-link {
  font-size: 14px;
}
.dis-paly h4 {
  list-style: disc;
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}
.Buys h3 {
  position: relative;
  top: 0;
  font-size: 18px;
}
.Buys .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -245%;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease;
}
.ABOUT .dis-paly2 .aldar img {
  width: 143px;
}
}

.custom-dropdown-menu {
  display: block; /* القائمة مخفية بشكل افتراضي */
}

.custom-dropdown-menu.show {
  display: flex; /* قم بتغيير العرض إلى flex أو block عند الحاجة */
}
