/* CSS الأساسي لشريط التنقل */
.custom-navbar-brand {
  width: 100%;
  display: flex;
  justify-content: start;
  padding-top: 15px;
  margin-left: 10px;
}

.number {
  color: #e2bc10 !important;
}
.logo-nav{
  width: 200px;
}
/* لbutton */



/* عند المرور على العنصر، تفتح القائمة */
  .custom-navbar-item .custom-dropdown-menu {
  display: none;
} 

.custom-dropdown-menu{
  display: block;
} 
.bt-back{
  display: none !important;
  visibility: hidden !important;
}

/* لbutton */
.custom-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-between;
  background-color: transparent;
  color: #ffffff00;
  padding-top: 10px;
  z-index: 99; /* تأكد من أنه فوق العناصر الأخرى */
  transition: background-color 0.3s ease; /* انتقال ناعم لتغيير اللون الخلفي */
}
.custom-navbar-brand a {
  text-decoration: none;
  flex-wrap: wrap;
}

.custom-navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  flex-wrap: wrap;
  z-index: 90000;
  
}

.custom-bar {
  height: 3px;
  width: 25px;
  background-color: #fffb00;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.custom-navbar-menu {
  display: flex;
  list-style: none;
  align-items: center !important;
  margin: 0;
  max-height: 0; /* يتم تحديده في الوضع الافتراضي للإخفاء */
}

.custom-navbar-item {
  margin-left: 4px;
  position: relative;
}

.custom-navbar-link {
  color: #fff1f1;
  text-decoration: none;
  font-size: 17px;
  padding: 6px;
  cursor: pointer;
}
.custom-navbar-link::after {
  content: ""; /* Insert an empty content */
  position: absolute; /* Ensure the parent has a relative position */
  bottom: 0px;
  left: 0px;
  width: 0%; /* Width of the pseudo-element */
  height: 3px; /* Correct height unit */
  background-color: #ffe600; /* Background color */
  /* Additional styling might be needed for positioning */
  transition: 0.5s;
}

.custom-navbar-link:hover::after {
  width: 100%;
  color: #e2bc10;
}
.custom-navbar-link:hover {
  color: #e2bc10;
}



.disi {
  width:75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin:0px;
}
/* .custom-dropdown-menu */


/* BUY */

.dis-buy{
  display: flex;
}
.imgnp {
  margin: 10px;
  background-image: url("/public/uploads/nav/e3lan.png");  width: 99%;
  height: 100px;
  border-radius: 30px;
  padding: 20px;
  background-size: cover;
}
.Buys .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -50% ;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}
.Buys h3{
  font-weight: bold;
  margin-top: 5px;
}
.dis-paly {
  display: flex;
  font-size: 22px;
  padding: 10px;
  margin: 5px;
  align-items: start;
  font-family:'Courier New', Courier, monospace !important;
  justify-content: start;
  margin-left: -38px !important;

}
.dis-paly li {
  list-style: none;
  padding: 5px;
  font-weight: 500 !important;
}
.dis-paly h4 {
  list-style: disc;
  padding: 5px;
  font-weight:550;
}
.dis-imgNbuy {
  display: flex;
  font-size: 25px;
  align-items: center;
  
  justify-content: start;
}
.dis-imgNbuy li {
  
  padding: 5px;
  margin: 5px;
  font-weight: 500 !important;
  list-style: none;
}
.imgnp h3, .imgnp h4 {
  width: 100%;
  overflow: hidden; /* Ensures the text is clipped */
  border-right: 2px solid rgba(0, 0, 0, 0.75); /* Creates a cursor effect */
  white-space: nowrap; /* Ensures the text stays on one line */
  width: 0; /* Start with zero width */
  animation: typewriter 4s steps(30, end) infinite, blinkCursor 0.75s step-end infinite;
}
.imgnp h4{
  
  font-weight: lighter;
}
/* BUY */
/* RENT */

.RENT .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -200% !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.RENT .dis-paly2 {
  display: flex !important;
  font-size: 20px;
  padding: 10px;
  align-items: start;
  justify-content: start;
  width: 100%;
}
.RENT .dis-paly2 h3{
font-weight: bold;
}

.RENT .dis-paly3 {
  display: flex !important;
  width: 100%;
  align-items: start;
  position: relative;
  left: -26px;
  width: 100%;

  justify-content: space-around;
  text-align: start;
}
 .dis-paly3 h4{
margin: 10px ;
align-items: start;
width: 100%;
font-weight: 550;

}
.RENT .dis-paly3 li {
  text-align: start;
  list-style: none;
  padding: 5px;
  font-size: 20px;
  width: 100%;
  font-weight: 500;
}

.dis-imgNbuy2 li {
  padding: 5px;
  margin: 5px;
  list-style: none;
  width: 100%;


}
.RENT .dis-imgNbuy {
  display: flex;
  align-items: end;
  justify-content: end;
}
.custom-dropdown-item {
  width: 100%;
  color: white;
  text-decoration: none;
  display: block;
}

.RENT .custom-dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
}
/* RENT */
/* Commercial */
.Commercial .dis-buy{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Commercial .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -130% !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 30px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.Commercial .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  font-size: 20px;
}
.Commercial .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}



.Commercial ul li {
  list-style: none;
  font-weight: 500;
  font-size: 20px;
}

.Commercial .dis-paly2 {
  display: flex;
  font-size: 20px;
  padding: 10px;
  align-items: start;
  font-weight: bolder;

  justify-content: start;
}
.Commercial ul h4{
  font-size: 24px;
  width: 100%;
  font-weight: 550 !important;
}
.dis-paly2 li {
  list-style: disc;
  padding: 5px;
  font-weight: bolder;
}

.dis-imgNbuy2 li {
  font-weight: bolder;

  list-style: none;
}
.custom-dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
}
.Commercial .imgNCommercial img {
  width: 300px;
  margin: 20px;
}
.Commercial ul li{
padding: 10px;
font-weight: bold;

}
.Commercial h3{
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
}
.Commercial .imgnp {
  margin: 10px;
  width: 99%;
  height: 100px;
  border-radius: 30px;
  padding: 9px;
  background-size: cover;
}
.Commercial .disi h4{
  font-weight: lighter !important;
}
/* Commercial */
/* developers */

.developers .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin: 15px 0px;
  padding: 0px;
  font-size: 20px;
}
.developers .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}
.developers .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -260% !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 30px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.developers .dis-paly2 {
  display: flex;
  font-size: 20px;
  margin: 10px;
  align-items: center;
  justify-content: start;
}
.dis-paly2 li {
  list-style: none;
  padding: 5px;
  font-weight: 500;
margin: 10px auto;
}
.developers h3{
  font-size: 2.5rem;
  margin-left: 30px;
  font-weight: bold;
}
.developers .dis-buy h4{
  margin-left: 40px;
  font-size: 2rem;
  font-weight: 550;
}

.developers .dis-paly2 .aldar img{
width: 130px;
}
.developers .imgnp  {
padding: 9px;
}
.developers .imgnp h3{
  margin-left: 0px;
}
.custom-dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
}
.developers .imgNCommercial img {
  display: flex !important;
  justify-content: end !important;
  width: 100%;
}
.developers .imgNCommercial{
  width: 100%;
    display: flex;
  justify-content: end !important;
}
/* developers */
/* AREAS */
.AREAS .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin: 15px 0px;
  padding: 0px;
  font-size: 20px;
}
.AREAS .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}
.AREAS .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -25vw ;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.AREAS .dis-paly {
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  position: relative;
  left: -50px;
  justify-content: space-between;
}
.dis-paly li {
  list-style: none;
  padding: 5px;
  font-weight: 500;
}
.AREAS .dis-imgNbuy {
  font-weight: 500;
  display: flex;
  font-size: 20px;

  justify-content: space-between;
}
.AREAS .dis-imgNbuy li {
  padding: 5px;
  margin: 5px;

  list-style: none;
}

/* AREAS */

/* About */

.About .custom-dropdown-menu {
  display: none;
  width: 80vw;
}
.ABOUT .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin: 15px 0px;
  padding: 0px;
  font-size: 20px;
}
.ABOUT .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}
.ABOUT .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -45vw !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 18px;
  padding: 18px 24px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
}

.About .custom-dropdown-menu .imgcon img {
  width: 80%;
}

.About .dis-paly2 {
  display: flex;
  font-size: 20px;
  margin: 5px;
  align-items: start;
  justify-content: space-between;
}

.ABOUT .dis-paly {
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  position: relative;
}
.dis-paly li {
  list-style: none;
  padding: 5px;
}

.About .imgNCommercial {
  display: flex;
  font-size: 20px;

  justify-content: start ;
}
.About .dis-imgNbuy li {
  padding: 5px;
  margin: 5px;
  list-style: none;
}
.About .css-mhc70k-MuiGrid-root {
  align-items: start;
}

.ABOUT .imgNCommercial {
  display: flex;
  justify-content: center !important;
}
.ABOUT p{
  width: 100%;
}
.ABOUT .custom-dropdown-item {
  padding: 25px;
  list-style: none;
}
.ABOUT .dis-paly2 {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: start;
}
.ABOUT .dis-paly2 li{
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 27px;
  font-weight: bolder;

  align-items: start !important;
  justify-content: center;
}
.dis-paly2 .aldar img{
  width: 90px ;
}
.dis-paly2 .aldar a{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.dis-paly2 .aldar h6{
  font-size: 18px;
}
/* ABOUT */
/* CONTACT */
.CONTACT .css-mhc70k-MuiGrid-root {
  margin-top: 30px !important;
  }
  .CONTACT .custom-dropdown-menu {
    display: none;
    width: 80vw !important;
    margin: 10px;
    position: absolute;
    left: -55vw !important;
    background-color: #bfb78f;
    list-style: none;
    padding: 18px 24px;
    border-radius: 23px;
    height: auto;
    overflow: hidden;
    transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
  }
  .CONTACT .css-isbt42 {
    margin-top: 47px;
    margin-left: 27px;
  }
  
  .CONTACT .custom-dropdown-menu .imgcon  {
    width: 100%;}
    .CONTACT .custom-dropdown-menu .imgcon h2{
      font-size: 65px;
    }
  .CONTACT .dis-paly2 {
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
  }
  .dis-paly li {
    list-style: none;
    padding: 5px;
  }
  .CONTACT .imgNCommercial {
    display: flex !important;
    width: 100%;
    font-size: 20px;
  align-items: end !important;
    justify-content: end !important;
  }
  
  .CONTACT .dis-paly2 li{
    font-size: 24px;
  }
  /* CONTACT */
/* Blogs */


.Blogs .imgnp {
  margin: 10px;
  background-image: url("/public/uploads/nav/e3lan.png");  width: 99%;
  height: auto;
  border-radius: 30px;
  padding: 20px;
  padding-top: 10px;
  background-size: cover;
  text-align: center;
}
/* Animation for typewriter effect */
@keyframes typewriter {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0);
  }
  to {
    border-right-color: transparent;
  }
}

/* Apply the animations */

.Blogs .custom-dropdown-menu {
  display: none;
  width: 82vw;
  margin: 10px;
  position: absolute;
  left: -39vw !important;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  
  transition: opacity 1s ease, transform 0.5s ease; /* إضافة أنيميشن */
  z-index: 9699999999999956489489486999 !important;
}
.dis-play3 .dis-paly1 div img{
width: 100px;
height: 100%;
}

.Blogs .dis-paly {
  display: flex;
  font-size: 17px;
  align-items: start;
  justify-content: start;
  width: 100%;
}
.Blogs .dis-paly1 {
  display: flex;
  padding: 0px;
  margin: 5px;
  align-items: center;
  justify-content: start;
}
.Blogs .dis-paly li {
  list-style: disc;
  padding: 5px;
}
.Blogs .imgNbuy {
  display: flex;
  font-size: 20px;
  flex-direction: column;
gap: 5px;
  justify-content: start;
}
.Blogs .imgNbuy .imgNbuy1 {
  display: flex;
  justify-content: end;
}
.Blogs .imgNbuy .imgNbuy2 {
  display: flex;
  justify-content: end;
}
.Blogs .imgNbuy .imgNbuy1 img{
  width: 90%;
  height: 240px;

}
.Blogs .imgNbuy .imgNbuy2 img{
  width: 90%;
  height: 160px;
  margin-top: 1 0px;

}
.dis-play3{
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  width: 80%;
  flex-wrap: wrap;
}
.dis-play3 h4{

  font-size: 22px;
}
.dis-play3 p{
  width: 100%;
  flex-wrap: wrap;

  font-size: 22px;
}





.Blogs .dis-imgNbuy {
display: flex;
justify-content: end !important;
flex-direction: column;
}
.Blogs .dis-paly1 .titel{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-left: 5px;
}
.Blogs .dis-paly1 .img img{
width: 90px;
height: 100%;
}
.Blogs .dis-paly1 .titel h5 {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.Blogs .dis-paly1 .titel  p {
  font-size: 10px !important;
  width: 100%;
}




/* Blogs */

/* .custom-dropdown-menu */

.custom-dropdown-item:hover {
  color: #fff;
  opacity: 1 !important;
}

.custom-dropdown-toggle::after {
  content: "\25BC";
  margin-left: 5px;
  color: #180202;
  font-size: 0.8rem;
}

.custom-dropdown-menu.show {
  display: flex;
  opacity: 1; /* جعل القائمة مرئية */
  transform: translateY(0); /* إعادة القائمة لمكانها الطبيعي */
}

.custom-mr {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 0px;
}
.custom-navbar-link {
  font-size: 19px;
}
.language-selector-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 23px;
}

.language-selector-item {
  position: relative;
  cursor: pointer;
}
.selected-language {
  position: relative;
  left: 23px;
  font-size: 12px;
}
/* تنسيق عنوان اللغة المحددة */
.language-selector-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  width: 100px;
  height: 22px;
  border-radius: 20px;
  background-color: #bfb78f;
  background-image: url("/public/uploads/img/em.png");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 50% 100%;
  cursor: pointer;
  margin: 2px;
  position: relative;
  left: 10px;
}

/* القائمة المنسدلة للغات */
.language-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ccad00;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  top: 100%;
  left: 2px;
  width: 150px;
  z-index: 1000;

  color: white;
}

.language-dropdown-menu.show {
  display: block;
}

/* تنسيق لكل خيار لغة */
.language-option {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}

.language-option:hover {
  background-color: #123;
  color: #ffffff;
  border-radius: 5px;
}

/* تنسيق لعلم اللغة */
.language-flag {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

/* التنسيق المتجاوب لشاشات أصغر */
@media (max-width: 1560px) {
  .custom-navbar-link {
    font-size: 17px;
  }




  .Buys h3{
position: relative;
top: 0;
font-size: 25px;  }
  .dis-paly {
    display: flex;
    font-size: 22px;
    padding: 0px;
    margin: 5px;
    align-items: start;
    font-family:'Courier New', Courier, monospace !important;
    justify-content: start;
  }
  .dis-paly li {
    list-style: none;
    padding: 5px;
    font-weight: lighter !important;
    font-size: 20px;
  }
  .dis-paly h4 {
    list-style: disc;
    padding: 5px;
    font-weight:500;
  }
  .dis-imgNbuy {
    display: flex;
    font-size: 25px;
    align-items: center;
    
    justify-content: start;
  }
  .dis-imgNbuy li {
    
    padding: 5px;
    margin: 5px;
    font-weight: lighter !important;
    list-style: none;
  }
  
  /* BUY */



}
@media (max-width: 1440px) {
  .logo-nav{
    width: 150px;
  }
.custom-navbar {
  width: 84%;
}
  .custom-navbar-link {
    font-size: 14px;
  }
  .Buys .disi h3 {
    position: relative;
    top: 0;
    font-size: 18px;
}
  .Buys .disi h4 {
    position: relative;
    top: 0;
    font-size: 18px;
}


  .Buys h3 {
    position: relative;
    top: 0;
    font-size: 23px;
}
.RENT .dis-paly3 li {
  text-align: start;
  list-style: none;
  padding: 5px;
  font-size: 18px;
  width: 100%;
  font-weight: lighter;
}
}

@media (max-width: 1200px) {
  .RENT .dis-paly2 h3 {
    font-size: 20px;
  }
  .Commercial ul li {
    list-style: none;
    font-weight: 500;
    font-size: 15px !important;
  }
  .dis-paly3 h4 {
    margin: 10px;
    align-items: start;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}
.imgnp h3, .imgnp h4 {
  width: 97%;
  overflow: hidden;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  width: 4px;
  font-size: 17px;
  animation: typewriter 4s steps(30, end) infinite, blinkCursor 0.75s step-end infinite;
}
  .RENT .dis-paly3 li {
    text-align: start;
    list-style: none;
    padding: 5px;
    font-size: 15px;
    width: 100%;
    font-weight: lighter;
  }
  .Commercial ul h4{
    font-size: 18px;
    width: 100%;
    font-weight: 550 !important;
  }

}
@media (max-width: 1280px) {


  .logo-nav{
    width: 120px;
  }
  .custom-navbar {
    width: 100%;
  }
    .custom-navbar-link {
      font-size: 11px;
    }
  .dis-paly h4 {
    list-style: disc;
    padding: 5px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}
.Buys h3 {
  position: relative;
  top: 0;
  font-size: 18px;
}
.Buys .custom-dropdown-menu {
  display: none;
  width: 80vw;
  margin: 10px;
  position: absolute;
  left: -245%;
  background-color: #bfb78f;
  list-style: none;
  padding: 18px 24px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease;
}
}



@media (max-width: 1024px) {
  .custom-navbar-link {
    font-size: 20px;
  
 }


  .custom-navbar-toggle:hover {
    transform: scale(1.1); /* تكبير العنصر قليلاً عند المرور */
  }

  .custom-navbar-item {
    margin: 5px 0;
    width: 100%;
    color: white !important;
  }

  
  .custom-dropdown-menu {
    position: static;
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .custom-dropdown-menu.show {
    display: block;
    opacity: 1;
  }

  .custom-navbar-link {
    width: 100%;
    padding: 0;
    text-align: center;
    color: white;
    font-size: 15px;
  }
  .custom-navbar-menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    transition: max-height 0.3s ease-in-out; /* لإضافة الأنيميشن */
    overflow: hidden;
    max-height: 0; /* يتم تحديده في الوضع الافتراضي للإخفاء */
  }
  .custom-navbar-toggle {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    position: absolute;
    top: 10px;
    right: 5px;
    border: #fffb00 solid 1px;
    background-color: #bfb78f;
    transition: all 0.3s ease; /* إضافة انتقال سلس لتأثيرات التغيير */
  }

  .custom-navbar-toggle:hover {
    transform: scale(1.1); /* تكبير العنصر قليلاً عند المرور */
  }

  .custom-navbar-menu {
    flex-direction: column;
    width: 100%;
    text-align:left;
    justify-content: center;
    align-items: center;
    background-color: #bfb78f;
    height:100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: auto;
    overflow-y: scroll !important;
    z-index: 100;
  }

  .custom-navbar-menu.active {
    max-height: 88%; /* يتم تحديد الحد الأقصى للطول عند الفتح */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .custom-navbar-item {
    width: 100%;
    color: white !important;
    margin-left: 10%;
    font-size: 20px;
  }

  .custom-dropdown-menu {
    position: static;
    min-width: 100%;
    opacity: 0;
    transition: opacity 10s ease, background-color 5s; /* إضافة أنيميشن */
  }
  .custom-dropdown-menu.show {
    display: block;
    opacity: 1;
  }

  .custom-dropdown-item {
    padding: 12px 20px;
    text-align: center;
    color: white;
    transition: display 10.5s;
  }

  .custom-navbar-link {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: white;
  }
  .custom-en-ar {
    flex: content;
    position: relative;
  }
  .custom-navbar-link::after {
    content: ">";
    margin-left: 120px;
    color: white;
    font-size: 30px;
    position: absolute;
    top: -7px;
    display: inline-block; /* تغيير display لتمكين التحكم في المسافات */
}

.bt-back{
  position: absolute;
    background-color: beige;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    left: -35px;
    top: 45px;
    transform: 0(4px, 16px);
    transform: rotate(-89deg);
    color: #123;

}
/* BUY */
.imgnp {
  margin: 10px;
  background-image: url("/public/uploads/nav/e3lan.png");  width: 99%;
  height: 100px;
  border-radius: 30px;
  padding: 20px;
  background-size: cover;
}
.Buys .custom-dropdown-menu {
  width: 60vw;
  left: -5% ;
  top: -40px;
 }  
 .Buys h3{
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
 }
 .Buys h3 img{
  font-weight: bold;
  width: 35px;
 }
 .Buys .dis-paly {
  width: 100%;  
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: start;
  justify-content: start;
}
.Buys .dis-paly ul{
  width: 100%;
}
 .dis-paly li {
  width: 100%;
  padding: 5px;
  font-size: 30px;
}


/* BUY */
/* RENT */

.RENT .custom-dropdown-menu {
  width: 60vw;
  left: -7% !important;
    top: -61px; 
    height: 105vh;
}

.RENT .dis-paly2 {
  display: flex !important;
  font-size: 18px;
  padding: 22px;
  align-items: center;
  justify-content: start;
}

.RENT .dis-paly3 {
  display: flex !important;
  width: 111%;
  align-items: center;
  position: relative;
  left: -51px;
  border: none;
  outline: none;
  justify-content: space-around;
}

/* RENT */
/* Commercial */

.Commercial .custom-dropdown-menu {
  width:100vw;
  height: 100vh;
  top: -112px;
  left: -7% !important;
  margin: 10px;

}

.Commercial .css-mhc70k-MuiGrid-root > .MuiGrid-item {
 

  font-size: 20px;
}
.Commercial .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}
.Commercial li {
  list-style: none;
}

.Commercial .dis-paly2 {
  display: flex;
  font-size: 20px;
  padding: 10px;
  align-items: start;
  font-weight: bolder;

  justify-content: start;
}
.dis-paly2 li {
  list-style: disc;
  padding: 5px;
  font-weight: bolder;
}

.dis-imgNbuy2 li {
  font-weight: bolder;

  list-style: none;
}
.custom-dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
}
.Commercial .imgNCommercial img {
  width: 250px;
  margin: 26px;
}
.Commercial ul li{
padding: 10px;
font-weight: bold;

}
/* Commercial */
/* developers */

.developers .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin: 15px 0px;
  padding: 0px;
  font-size: 18px;
}
.developers .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}

.developers .custom-dropdown-menu {
  width: 100vw;
  margin: -1px;
  position: absolute;
  left: -5% !important;
  top: -158px;
  background-color: #bfb78f;
  list-style: none;
  padding: 0 1px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease;
}
.developers .dis-paly2 {
  display: flex;
  font-size: 18px;
  margin: 10px;
  align-items: center;
  justify-content: start;
}
.dis-paly2 li {
  list-style: none;
  padding: 5px;
  margin: 10px;
}

.dis-paly2 .aldar img{
width: 75px;
}


/* developers */
/* AREAS */
.AREAS .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin: 15px 0px;
  padding: 0px;
  font-size: 20px;
}
.AREAS .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}
.AREAS .custom-dropdown-menu {
  width: 100vw;
  position: absolute;
  left: -37px !important;
  top: -210px;
  background-color: #bfb78f;
  list-style: none;
  padding: 0 1px;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease;
}
.AREAS h3 {
  width: 100vw;
  font-size: 39px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
 .AREAS h3 img{
  font-weight: bold;
  width: 35px;
 }
 .AREAS .dis-paly {
  width: 100vw; 
  display: flex;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  align-items: start;
  justify-content: start;
}
.AREAS .dis-paly ul{
  width: 100%;
}
.AREAS .dis-paly li {
  width: 100%;
  padding: 5px;
  font-size: 23px;
}
.toggle-checkbox {
  display: none;
}

.AREAS .dis-imgNbuy h3 {
  width: 61vw;
  font-size: 34px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}
/* AREAS */
/* CONTACT */
.CONTACT .css-mhc70k-MuiGrid-root {
margin-top: 30px !important;
}
.CONTACT .custom-dropdown-menu {
  width: 100vw;
  position: absolute;
  left: -57px !important;
  top: -389px;
  background-color: #bfb78f;
  list-style: none;
  padding: 0 1px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease;
}
.CONTACT .css-isbt42 {
  margin-top: 47px;
  margin-left: 27px;
}

.CONTACT .custom-dropdown-menu .imgcon img {
  width: 86%;}

.CONTACT .dis-paly2 {
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}
.dis-paly li {
  list-style: none;
  padding: 5px;
}
.CONTACT .imgNCommercial {
  display: flex;
  width: 100%;
  font-size: 20px;
align-items: end;
  justify-content: end !important;
}

.CONTACT .dis-paly2 li{
  font-size: 24px;
}
/* CONTACT */
/* About */

.About .custom-dropdown-menu {
  display: none;
  width: 80vw;
}
.ABOUT .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  margin: 15px 0px;
  padding: 0px;
  font-size: 20px;
}
.ABOUT .css-mhc70k-MuiGrid-root {
  align-items: start;
  list-style: disc;
}
.ABOUT .custom-dropdown-menu {
  width: 100vw;
  position: absolute;
  left: -57px !important;
  top: -331px;
  background-color: #bfb78f;
  list-style: none;
  padding: 0 1px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: 100vh;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease;
}

.About .custom-dropdown-menu .imgcon img {
  width: 80%;
}

.About .dis-paly2 {
  display: flex;
  font-size: 20px;
  margin: 5px;
  align-items: start;
  justify-content: space-between;
}

.ABOUT .dis-paly {
  display: flex;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  align-items: center;
  position: relative;
}
.dis-paly li {
  list-style: none;
  padding: 5px;
}

.About .imgNCommercial {
  display: flex;
  font-size: 20px;

  justify-content: start !important;
}
.About .dis-imgNbuy li {
  padding: 5px;
  margin: 5px;
  list-style: none;
}
.About .css-mhc70k-MuiGrid-root {
  align-items: start;
}

.ABOUT .imgNCommercial {
  display: flex;
  justify-content: end;
}
.ABOUT p{
  width: 100%;
}
.ABOUT .custom-dropdown-item {
  padding: 25px;
  list-style: none;
}
.ABOUT .dis-paly2 {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: start;
}
.ABOUT .dis-paly2 li{
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 17px;
  font-weight: bolder;

  align-items: center !important;
  justify-content: start;
}

/* ABOUT */
/* Blogs */


.Blogs .imgnp {
  margin: 10px;
  background-image: url("/public/uploads/nav/e3lan.png");  width: 95%;
  height: auto;
  border-radius: 30px;
  padding: 20px;
  background-size: cover;
}
.Blogs .custom-dropdown-menu {
  width: 100vw;
  position: absolute;
  left: -37px !important;
  top: -277px;
  background-color: #bfb78f;
  list-style: none;
  padding: 0 1px;
  z-index: 9699999999999999 !important;
  border-radius: 23px;
  height: auto;
  overflow: hidden;
  transition: opacity 1s ease, transform 0.5s ease;
}

.dis-play3 .dis-paly1 div img{
width:100px;
height: 100%;
}

.Blogs .dis-paly {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: start;
}
.Blogs .dis-paly1 {
  display: flex;
  padding: 0px;
  margin: 5px;
  align-items: center;
  justify-content: start;
}
.Blogs .dis-paly li {
  list-style: disc;
  padding: 5px;
}
.Blogs .imgNbuy {
  display: flex;
  font-size: 20px;
  flex-direction: column;
gap: 5px;
  justify-content: start;
}
.Blogs .imgNbuy .imgNbuy1 {
  display: flex;
  justify-content: center;
}
.Blogs .imgNbuy .imgNbuy2 {
  display: flex;
  justify-content: center;
}
.Blogs .imgNbuy .imgNbuy1 img{
  width: 80%;
  height: 200px;

}
.Blogs .imgNbuy .imgNbuy2 img{
  width: 80%;
  height: 160px;
  margin-top: 1 0px;

}
.dis-play3{
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  width: 80%;
  flex-wrap: wrap;
}
.dis-play3 h4{

  font-size: 22px;
}
.dis-play3 p{
  width: 80%;
  flex-wrap: wrap;

  font-size: 22px;
}





.Blogs .dis-imgNbuy {
display: flex;
justify-content: end !important;
flex-direction: column;
}
.Blogs .dis-paly1 .titel{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-left: 5px;
}
.Blogs .dis-paly1 .img img{
width: 90px;
height: 100%;
}
.Blogs .dis-paly1 .titel h5 {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.Blogs .dis-paly1 .titel  p {
  font-size: 10px !important;
  width: 100%;
}




/* Blogs */

/* لاعفخى */
/* إخفاء القائمة المنسدلة افتراضيًا */
.custom-dropdown-menu {
  position: absolute;
}

/* إظهار القائمة عند التحديد (checked) */
#toggle-buy:checked ~ .custom-navbar-item:hover .custom-dropdown-menu {
  display: none;
  display: block;
}

/* التأكد من إخفاء القائمة عند إلغاء التحديد */
#toggle-buy:not(:checked) ~ ul .custom-navbar-item:hover .custom-dropdown-menu {
  display: block ;
}
.back-button:checked .custom-navbar-item:hover .custom-dropdown-menu {
  display: none ;
}
/* إضافة تنسيقات للقائمة */
.custom-dropdown-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
}

.back-button label {
  background-color: #bfb78f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
/* ghj */
}
@media (max-width: 770px) {

  .dis-paly li {
    width: 100%;
    padding: 5px;
    font-size: 25px;
  }
  .RENT .custom-dropdown-menu {
    width: 60vw;
    left: -7% !important;
      top: -61px; 
      height: 105vh;
  }
  
  .RENT .dis-paly2 {
    display: flex !important;
    font-size: 15px;
    padding: 20px;
    align-items: center;
    justify-content: start;
  }
  .RENT .imgNbuy img{
width: 100%;
margin: 20px;
  }
  .RENT .dis-paly3 {
    display: flex !important;
    width: 122%;
    align-items: center;
    position: relative;
    left: -75px;
    border: none;
    outline: none;
    justify-content: space-around;
  }

}
@media (max-width: 425px) {
  /* .Buys */
  .Buys h3{
    width: 100%;
    font-size: 25px;
   }
   .Buys h3 img{
    width: 25px;
   }
   .Buys .dis-paly {
    width: 146%;
    display: flex;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    align-items: start;
    justify-content: start;
    align-items: start;
    text-align: start;
    margin-left: -61px;

  }
  .Buys .dis-paly ul{
    width: 100%;
    text-align: start;

  }
   .dis-paly li {
    padding: 10px;
    text-align: start;
    font-size: 18px;
 
  }
  .dis-imgNbuy{
display: flex;
flex-direction: column;
  }
    /* .Buys */
    /* .RENT */
    .RENT h3{
      margin-right: 25%;
    }
    .dis-paly li {
      width: 100%;
      padding: 5px;
      font-size: 25px;
    }
    .RENT .custom-dropdown-menu {
      width: 60vw;
      left: -7% !important;
        top: -61px; 
        height: fit-content;
    }
    
    .RENT .dis-paly2 {
      display: flex !important;
      font-size: 20px;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      justify-content: start;
    }
    .RENT .imgNbuy img{
      margin: 18px;
      padding: 11px;
      width: 91vw;
      position: relative;
      left: -49px;
   }
    .RENT .dis-paly3 {
      display: flex !important;
      width: 100vw;
      align-items: center;
      flex-direction: column;
      position: relative;
      left: -54px;
      border: none;
      outline: none;
      justify-content: space-around;
    }  
      /* .RENT */

}
@media (max-width: 375px) {
  .Buys h3{
    font-size:18px ;
    } 
 

  .Buys .dis-paly {
    width: 156%;
    margin-left: -71px;
    flex-direction: column;

  }   .dis-paly li {
    padding: 10px;
    text-align: start;
    font-size: 23px;
 
  }
  .imgNbuy{
width: 100%;
margin: auto;
  }
  .imgNbuy img{
width: 300px;
margin-left: -40px !important;
  }
  .ullest{
margin-left: -51px !important;
  }
   /* .RENT */
   .RENT h3{
    margin-right: 20%;
  }
  .dis-paly li {
    width: 100%;
    padding: 5px;
    font-size: 25px;
  }
  .RENT .custom-dropdown-menu {
    width: 60vw;
    left: -7% !important;
      top: -61px; 
      height: fit-content;
  }
  
  .RENT .dis-paly2 {
    display: flex !important;
    font-size: 15px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .RENT .imgNbuy img{
    margin: 18px;
    padding: 11px;
    width: 91vw;
    position: relative;
    left: -29px;
 }
  .RENT .dis-paly3 {
    display: flex !important;
    width: 100vw;
    align-items: center;
    position: relative;
    left: -54px;
    border: none;
    outline: none;
    justify-content: space-around;
  }  
    /* .RENT */
}
@media (max-width: 325px) {
 

   /* .RENT */
   .RENT h3{
    text-align: start;
    margin-right: 30px;
    font-size: 19px;
  }
  .dis-paly li {
    width: 100%;
    padding: 5px;
    font-size: 25px;
  }
  .RENT .custom-dropdown-menu {
    width: 60vw;
    left: -7% !important;
      top: -61px; 
      height: fit-content;
  }
  
  .RENT .dis-paly2 {
    display: flex !important;
    font-size: 19px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .RENT .imgNbuy img{
    margin: 18px;
    padding: 11px;
    width: 91vw;
    position: relative;
    left: -29px;
 }
  .RENT .dis-paly3 {
    display: flex !important;
    width: 100vw;
    align-items: center;
    position: relative;
    left: -54px;
    border: none;
    outline: none;
    justify-content: space-around;
  }  
    /* .RENT */

}