.Testimonials {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.title-dis3 {
  max-width: 1000px;
}
.bgct{
  width: 80%;
  background-color: rgba(240, 248, 255, 0.322);
  border-radius: 20px;
  margin: auto;
  height: auto;
}

.bg-body1{
  width: 100%;
  margin:10px auto;
}
.photo-phone {
  width: 100%;
  align-items: center;
  background-image: url("/public/uploads/img/back.png");
  width: 100%;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto !important;
}

.img-Esteemed1 {
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 30px auto !important;
  height: 50vh;
}

.slick-prev,
.slick-next {
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.Testimonials .slick-prev {
  left: 350px !important;
  width: 100px !important;
  height: 5vh !important;
}
.Testimonials .slick-next {
  right: 350px !important;
  width: 100px !important;
  height: 5vh !important;
}
.slick-prev:before,
.slick-next:before {
  display: none; /* إخفاء الأيقونات الافتراضية */
}

/* Responsive styles */
@media (max-width: 1444px) {
  .slick-prev,
  .slick-next {
    width: 300px;
    height: 30px;
  }

  .img-Esteemed1 {
    width: 250px;
    /* height: 30vh; */
  }
}

@media (max-width: 1024px) {
  .slick-prev,
  .slick-next {
    width: 400px;
    height: 40px;
  }

  .img-Esteemed1 {
    width: 290px;
    height: 290px;
  }
  .Testimonials .slick-prev {
    left: 50px !important;
    width: 100px !important;
    height: 5vh !important;
  }
  .Testimonials .slick-next {
    right: 50px !important;
    width: 100px !important;
    height: 5vh !important;
  }

}

@media (max-width: 920px) {
  .slick-prev,
  .slick-next {
    width: 15px;
    height: 15px;
  }

  .Testimonials .slick-prev {
    left: 50px !important;
    width: 100px !important;
    height: 5vh !important;
  }
  .Testimonials .slick-next {
    right: 150px !important;
    width: 100px !important;
    height: 5vh !important;
  }


  .Testimonials{
    height: 90vh;
    }

  .photo-phone {
    height: 50vh;
  }
  .img-Esteemed1{
    width: 280px !important;
    height: 280px !important;
  }
}

@media (max-width: 853px) {
  .slick-prev,
  .slick-next {
    width: 15px;
    height: 15px;
  }

  .Testimonials .slick-prev {
    left: 50px !important;
    width: 100px !important;
    height: 5vh !important;
  }
  .Testimonials .slick-next {
    right: 50px !important;
    width: 100px !important;
    height: 5vh !important;
  }

  .Testimonials{
    height: 120vh;
  }
  .photo-phone {
    height: 60vh;
  }
  .img-Esteemed1{
    width: 250px !important;
    height: 250px !important;
  }
}
@media (max-width: 768px) {

  .img-Esteemed1{
    width: 230px !important;
    height: 230px !important;
  }
}

@media (max-width: 540px) {
  .slick-prev,
  .slick-next {
    width: 15px;
    height: 15px;
  }

  .Testimonials .slick-prev {
    left: 50px !important;
    width: 100px !important;
    height: 5vh !important;
  }
  .Testimonials .slick-next {
    right: 50px !important;
    width: 100px !important;
    height: 5vh !important;
  }

 

  .photo-phone {
    height: 70vh;
  }
  .img-Esteemed1{
    width: 230px !important;
    height: 230px !important;
  }
}

@media (max-width: 450px) {
  .slick-prev,
  .slick-next {
    width: 15px;
    height: 15px;
  }

  .Testimonials .slick-prev {
    left: 2px !important;
    width: 100px !important;
    height: 5vh !important;
  }
  .Testimonials .slick-next {
    right: 2px !important;
    width: 100px !important;
    height: 5vh !important;
  }
  .Testimonials {
    width: 100%;
    height: 120vh;
    overflow: hidden;
}
 
  .photo-phone {
    width: 100%;
    align-items: center;
    background-image: url("./../../../public/uploads/img/back.png");
    width: 100%;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto !important;
  }
  
  .img-Esteemed1{
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 430px) {

.Testimonials{
  height: 100vh;
}
         
  .photo-phone {
    width: 100%;
    align-items: center;
    background-image: url("./../../../public/uploads/img/back.png");
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto !important;
  }
  
  .img-Esteemed1{
    width: 90px;
    height: 90px;
  }
  .img-dis3 img {
    max-width: 100% !important;
    height: auto;
  }
}
